.center {
    text-align: center;
}
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #45a049;
}
h2 {
    font-size: 2em;
    margin-bottom: 20px;
}